<p id="notice"><%= notice %></p>
<div class="container-contact100">

	<div class="wrap-contact100">
		<form class="contact100-form validate-form" action="/settings" method="post">
			<span class="contact100-form-title">
				Admin Dashboard
			</span>

			<!-- Update Prcinct ID -->

			<div class="input-title">
				Precinct ID
			</div>
			<div class="wrap-input100 validate-input" data-validate="Please enter a Precinct ID">
				<textarea name="precinct_id" class="input100" rows="1" cols="1"><%= @precinct_string %></textarea>
				<span class="focus-input100"></span>
			</div>

			<!-- Update Password -->
			<div class="input-title">
				Canvasser Password
			</div>
			<div class="wrap-input100 validate-input" data-validate="Please enter a password">
				<input class="input100" type="text" name="canvasser_password" value=<%= @canvasser_password %> >
				<span class="focus-input100"></span>
			</div>

			<div class="input-title">
				Default Voter Note
			</div>
			<div class="wrap-input100 validate-input" data-validate="Please enter a voter note">
				<input class="input100" type="text" name="note" value=<%= @note %> >
				<span class="focus-input100"></span>
			</div>

			<div class="container-contact100-form-btn">
				<button class="contact100-form-btn" type="submit">
					<span>
						<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
						update
					</span>
				</button>
			</div>

<<<<<<< HEAD
			<div class="container-contact100-form-btn">
        <%= link_to 'Reset Visited Records', delete_visits_path, class: 'contact100-form-btn' %>
			</div>
=======
			<%=link_to 'Export to CSV', settings_exportcsv_path(:format => "csv")%>
			<%=link_to 'Export to Excel', settings_exportcsv_path(:format => "xsl")%>
>>>>>>> Added links to download csv and xsl

		</form>
	</div>
</div>
